.App{
  height: 100%;
  width: 100%;
}

.navbar-container{
  height: 30%;
  width: 100%;
  /* border: solid; */
  display: flex;
  align-items: center;
  flex-direction: column;

}

.navbar{
  height: 20%;
  width: 100%;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-notification-area{
  height: 45%;
  width: 100%;
  border: solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-of-issue{
  border: solid red;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons{
  border: solid green;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-button{
  border: solid blue;
  height: 30px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fork-button{
  border: solid blue;
  height: 30px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}